<!-- Container (About Section) -->
<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>Quienes Somos</h2><br>
            <h4>INGENIERIA MIMCO S.A.S. Es una Empresa Colombiana dedicada a Construir Calidad de Vida para sus Clientes proporcionándoles servicios en las áreas de Construcción, Diseño interior, Domótica, Software y Soluciones en los demás campos de la Ingeniería.<br
                /> Contamos con un equipo de talento humano especializado, dispuestos a satisfacer cada necesidad del Cliente para garantizar el cumplimiento y calidad de cada proyecto.</h4><br>
        </div>
        <div class="col-sm-4">
            <img src="assets/img/MIMCOFICAL.png" />
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-4">
            <span *ngIf="showCircleGlyp" class="glyphicon glyphicon-ok-circle logo slideanim" @fade></span>
        </div>
        <div class="col-sm-8">
            <h2>Nuestros valores</h2><br>
            <h4><strong>MISION:</strong> INGENIERIA MIMCO S.A.S. Tiene como Misión ofrecer soluciones de Ingeniería por medio de servicios y productos a nivel residencial, comercial e institucional con el propósito de Mejorar la Calidad de Vida de cada uno
                de sus Clientes.</h4><br>
            <h4><strong>VISION:</strong> INGENIERIA MIMCO S.A.S. Será una Compañía Multinacional reconocida por su innovación y compromiso social que contribuya en el mejoramiento de la Calidad de Vida de Clientes y Colaboradores. </h4>
            <p>
                <br /> • Honestidad<br /> • Compromiso<br /> • Responsabilidad<br /> • Respeto<br /> • Calidad<br />
            </p>

        </div>
    </div>
</div>
<!--END Container (About Section) -->