<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey csscontacto">
    <h2 class="text-center">CONTACTO</h2>
    <div class="row">
        <div class="col-sm-7">
            <p>Contáctenos y responderemos en un tiempo no mayor a 24 horas</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Bogotá D.C.</p>
            <p><span class="glyphicon glyphicon-phone"></span> +(57) 1 3911630</p>
            <p><span class="glyphicon glyphicon-envelope"></span><a href="mailto:ingenieriamimco@gmail.com">ingenieriamimco@gmail.com</a></p>
            <p><img src="assets/img/WA.png" style="width:24px; height:24px" />(57) 3202334948</p>
            <p><img src="assets/img/WA.png" style="width:24px; height:24px" />(57) 3125299503</p>
        </div>
    </div>
</div>