<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center bg-orange" [@fade-in]="showServiciosSection">
    <h2 style="color:white">SERVICIOS</h2>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <span><img src="assets/img/icomimconstruct.png" style="width:68px; " /></span>
            <h3 style="color:white">Diseño y Construcción</h3><br />
            <h4 style="color:white; text-align:left">
                • Proyectos de Arquitectura e Ingeniería <br /> • Diseño, Planeación<br /> • Construcción y Remodelación<br /> • Estructuras Especiales<br /> • Cimentación – Demolición<br /> • Pavimentación Vías – Carreteras<br /> • Fachadas<br /> • Acabados<br
                /> • Mampostería – Drywall- Superboard - Pvc<br /> • Estuco - Pintura<br /> • Decoración - Muebles Y Accesorios<br /> • Ornamentación – Ventanearía <br />
            </h4>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-off logo-small"></span>
            <h3 style="color:white">Software y Tecnología</h3><br />
            <h4 style="color:white; text-align:left">
                • Desarrollo de Software y Apps a la Medida<br /> • Páginas Web<br /> • Asesoría y Capacitación en Software<br /> • Diseño, Instalación, y Mantenimiento de Redes:<br /> - Eléctricas<br /> - Datos<br /> • Cableado Estructurado<br /> • Seguridad
                Electrónica y CCTV<br /> • Domótica<br /> - Automatización de espacios <br /> - Personalización de Viviendas y Oficinas <br /> - Iluminación-Control-Energías Renovables<br />
            </h4>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-tower logo-small"></span>
            <h3 style="color:white">Soluciones</h3><br />
            <h4 style="color:white; text-align:left">
                • Consultorías<br /> • Optimización de procesos<br /> • Herramientas para la toma de decisiones<br />
            </h4>
        </div>
    </div>
</div>
<!-- Fin Container (Services Section) -->